/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer {
    background-color: #40434E;
}

.projectTitle {
    color: #E8E9E9;
}

.homeContainer {
    background-color: #40434E;
}

.button {
    background: #080705;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #080705;
    border: 1px solid #E8E9E9;
}